*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	text-rendering: optimizeLegibility;
	/*Mac dinh la: 16px;*/
}
a{
	text-decoration: none;
}
/*=============================================================================*/
.lg-slider-1{
	background: url('../img/Asia/asia-bg.jpeg') center center no-repeat;
	background-size: cover;
	z-index: -100;
}
.lg-slider-2{
	background: url('../img/Africa/africa-bg.jpeg') center center no-repeat;
	background-size: cover;
	z-index: -100;
}
/*NEXT - PREV BUTTON*/
.owl-carousel .owl-nav{
	position: relative;
	display: inline-block;
	transform: translate3d(910px,-190px,0px);
}
.owl-nav .owl-next span,
.owl-nav .owl-prev span{
	display: inline-block;
	text-align: center;
	width: 50px;
	height: 50px;
	border: 0 none;
	border-radius: 50%;
	background-color: rgba(72,102,36,.8);
	color: #fff;
	padding-top: 13px;
}
.owl-nav .owl-next span:hover,
.owl-nav .owl-prev span:hover{
	background-color: #fff;
	color: #000;
	transition: .3s ease-in-out;
}
/*----------------------------------------------------------*/
.Rlogo{
	color: #fff;
}
/*===================LEFT CONTENT=====================*/
.Rleft-content{
	width: 50%;
	float: left;
}
.Rleft-content{
	position: relative;
	margin-top: 200px;
	padding-left: 150px;
	color: #fff;
}
.Rleft-content h2{
	position: relative;
	font-size: 600%;
	color: #fff;
}
.Rleft-content p{
	padding: 32px 0;
	padding-right: 140px;
}
.Rleft-content h3{
	position: relative;
	font-size: 350%;
	opacity: 0.2;
	color: #fff;
}
.Rleft-content .text-down-hide{
	opacity: 0;
	transform: translateY(-75px);
}

/*Create the pagination line*/
.Rpag{
	position: absolute;
	border-left: 1px solid;
	height: 550px;
	width: 0;
	color: rgba(240,255,240,0.6);
	margin-left: -85px;
}
.Rpagdot{
	position: absolute;
	margin-top: 10px;
}
.Rpagdot .pagdot{/*Format for 7 dots on the bar at the pagination line*/
	display: block;
	position: relative;
	border: 0 none;
	border-radius: 50%;
	background-color: #fff;
	width: 4px;
	height: 4px;
	margin-bottom: 50px;
	margin-left: -86px;
}
.Rpagdot .dotshow, .Rpagdot .dothide{/*Dots contain number of pagination*/
	width: 35px;
	height: 35px;
	margin-left: -102px;
	background-color: rgba(120,150,120,0.6);
}
.dotshow p, .dothide p{
	color: #fff;
	font-size: 60%;
	text-align: center;
	transform: translate3d(14px, -20px,0);
	position: absolute;
}
/*Adjust position of dots*/
.pagdot:nth-child(1), .pagdot:nth-child(2){
	transform: translateY(50px);
}
.pagdot:nth-child(1){
	transform: translateY(30px);
}
.pagdot:nth-child(7){
	transform: translateY(-30px);
}
/* Hide number 2 pagination*/
.dothide{
	opacity: 0;
}
.dotbg{
	position: relative;
	display: inline-block;
	transform: translate3d(0,72px,0);
}
.dotbg2{
	position: relative;
	display: inline-block;
	transform: translate3d(0,-67px,0);
	opacity: 0;
}

/*Create explore btn*/
.Rbtn-explore{
    position: relative;
    background-color: rgba(72,102,36,.9);
    color: #fff;
    border-radius: 5px;
    padding: 0 5px 0 20px;
    margin: 0px 0 0 0;
    height: 50px;
    line-height: 2.5;
    display: inline-block;
    width: 150px;
    cursor: pointer;
}
.Rbtn-explore i{
	margin-left: 40px;
}

/*===================RIGHT CONTENT=================*/
.Rright-content{
	width: 50%;
	font-weight: 700;
	float: right;
	word-spacing: 2px;
	letter-spacing: 1px;
	margin-top: 200px;
	color: #fff;
}
.Rcollection{
	position: relative;
	display: inline-block;
}
.sm-slider{
	float: left;
	padding-right: 20px;
}
.owl-carousel-sm img{
	border-radius: 5px;
	margin-top: 35px;
}
.slider-st{
	width: 330px;
	height: 470px;
}
.slider-nd, .slider-rd{
	width: 280px;
	height: 416px;
	margin-top: 55px;
	font-size: 80%;
}

/*Dot show position of img*/
.owl-carousel-sm .owl-nav{
	display: none;/*Hide all next, prev btn*/
}
.owl-carousel .owl-dots{
	display: none;/*Hide all dots*/
}
.owl-carousel-sm .owl-dots{
	display: inline-block;/*Show dots of small sliders*/
}
.thumb-st .owl-dots{/*Adjust dots of small slider 1*/
	transform: translateY(-500px);
}
.owl-theme .thumb-st .owl-dots .owl-dot span{
	width: 8px;
	height: 8px;
}
.thumb-nd .owl-dots,
.thumb-rd .owl-dots{/*Adjust dots of small slider 2, 3*/
	transform: translateY(-420px);
}

/*Book mark on the right top of img*/
.sm-slider{
	position: relative;
}
.lg-slider-2 .owl-dots .owl-dot{
	transform: translateY(50px);
}
.sm-slider .fas{
	border: 1px none;
	border-radius: 50%;
	background-color: #fff;
	color: #869791;
	width: 35px;
	height: 35px;
	padding: 12px;
	text-align: center;
	font-size: 70%;
	position: absolute;
	transform: translateX(210px);
	margin-top: 45px;
	z-index: 10;
}
.slider-st .fas{
	transform: translateX(260px);
}
/*Adjust the height of the collection pictures at slider 2*/
.lg-slider-2 .thumb-st img{
	height: 413.22px;
}
.lg-slider-2 .thumb-nd img,
.lg-slider-2 .thumb-rd img{
	height: 346.57px;
}